# 02_List_2

### Two Pointers, Selection Sort, Insertion Sort, Binary_Search

1. Two Pointers
  - 투 포인터 알고리즘은 리스트에 순차적으로 접근해야 할 때 두개의 점의 위치를 기록하면서 처리하는 알고리즘이다.
  - 리스트에 담긴 데이터에 순차적으로 접근해야 할 때는 시작점과 끝점 2개의 점으로 접근할 데이터의 범위를 표현할 수 있다.

- 2018 - 수들의 합 5

- 1940 - 주몽

- 12891 - DNA 비밀번호

- 11003 - 최솟값 찾기

- 1427 - 소트인사이드

- 11399 - ATM

- 1920 - 수 찾기

- 2343 - 기타 레슨

- 1300 - K번째 수